@model IEnumerable<Gestion_Stagiaire.Models.DemandeStage>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stagiaire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type_Stage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Debut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path_Demande_Stage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Demande)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AffectationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path_Rapport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentaire)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stagiaire.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type_Stage.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Debut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path_Demande_Stage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Demande)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AffectationId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path_Rapport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
